.menu{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2vw;
   font-size: 1.4rem;
   height: 50px;
   background-color: var(--color03);
   color: var(--brow);
   position: fixed;
   top: 0;
   left: 0;
   box-shadow: 10px 10px 19px 0px rgba(43,237,11,0.75);
-webkit-box-shadow: 10px 10px 19px 0px rgba(43,237,11,0.75);
-moz-box-shadow: 10px 10px 19px 0px rgba(43,237,11,0.75);
}
 
.s1{
    background-color: white;
    height: 100vh;
    padding-top: 50px;
}
 
.s2{
    height: 100vh;
    padding-top: 50px;
}
.s3{
    height: 100vh;
    padding-top: 50px;
}
.s4{
    height: 100vh;
    padding-top: 50px;
}